{% extends "base.html" %}
{% block content %}
{% load static %}
<h1> <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Order now!</title>
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">

  </head>


  <body>



    


    <div class="main">
<section>

  <div class="row">
      <div class="column fruits">
        <div class="content">
          <img src="https://images.everydayhealth.com/images/ordinary-fruits-with-amazing-health-benefits-05-1440x810.jpg" alt="" width="100%">
          <h4>Fruit</h4>
          <p>Once again, some random text to lorem lorem.</p>
        </div>
      </div>


      <div class="column sandwishes">
        <div class="content">
          <img src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" width="100%">
          <h4>Sandwich</h4>
          <p>Once again, some random text to lorm lorem lorem lorem ipsum text .</p>
        </div>
      </div>


      <div class="column meats">
        <div class="content">
          <img src="https://images.pexels.com/photos/675951/pexels-photo-675951.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" width="100%">
          <h4>Meat</h4>
          <p>Once again, some random text to lorem lorem lorem lorem ipsum text .</p>
        </div>
      </div>

      <div class="column juice">
        <div class="content">
          <img src="https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" width="100%">
          <h4>Juice</h4>
          <p>Once again, some random text to lorem lorem lorem lorem ipsum text .</p>
        </div>
      </div>

      <div class="column pasta">
        <div class="content">
          <img src="https://images.pexels.com/photos/1527603/pexels-photo-1527603.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" width="100%">
          <h4>Pasta</h4>
          <p>Once again, some random text to lorem lorem lorem lorem ipsum text .</p>
        </div>
      </div>

      <div class="column bread">
        <div class="content">
          <img src="https://images.pexels.com/photos/708488/pexels-photo-708488.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" width="100%">
          <h4>Bread</h4>
          <p>Once again, some random text to lorem lorem lorem lorem ipsum text .</p>
        </div>
      </div>

      <div class="column Sauce">
        <div class="content">
          <img src="https://images.pexels.com/photos/1435901/pexels-photo-1435901.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" width="100%">
          <h4>Sauce</h4>
          <p>Once again, some random text to lorem lorem lorem lorem ipsum text m.</p>
        </div>
      </div>

      <div class="column vegetables">
        <div class="content">
          <img src="https://images.pexels.com/photos/1458694/pexels-photo-1458694.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" width="100%">
          <h4>vegetables</h4>
          <p>Once again, some random text to lorem lorem lorem lorem ipsum text .</p>
        </div>
      </div>

      <div class="column vegetables">
        <div class="content">
          <img src="https://images.pexels.com/photos/812860/pexels-photo-812860.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" width="100%">
          <h4>Happy meal</h4>
          <p>Once again, some random text to lorem lorem lorem lorem ipsum text .</p>
        </div>
      </div>
  </div>
</section>
<section>
  <div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a class="active" href="#">2</a>
    
    <a href="#">&raquo;</a>
  </div>
</section>



<section>
  <hr>
  <h2>Hope You Enjoy</h2>
  <h3>our logo</h3>
  <button class="btn YOU">YOU</button>
  <button class="btn ARE">ARE</button>
  <button class="btn WHAT">WHAT</button>
  <button class="btn YOU">YOU</button>
  <button class="btn EAT">EAT</button>
</section>
  </body>
</html></h1>
{% endblock content %}